{#
Both macros in this file are github.com/michigg/lama by michigg.
See github.com/michigg/lama/src/templates/macros/form_macros.jinja2 for details.
lama is licensed under a copyleft AGPL license v3.0.
#}
{% macro text_input(field, list='', css_classes='') -%}
    <div class="form-group">
        <input type="text"
                {% if css_classes %}
               class="{{ css_classes }}"
                {% else %}
               class="form-control"
                {% endif %}
               placeholder="{{ field.label }}"
                {% if list %}
               list="{{ list }}"
                {% endif %}
               aria-describedby="{{ field.id_for_label }}_help"
               name="{{ field.html_name }}"
               id="{{ field.id_for_label }}"
               {% if field.value() != None %}value="{{ field.value() }}"{% endif %}
               maxlength="{{ field.field.max_length }}"
               {% if field.field.required %}required{% endif %}>
        {% if list %}
            <datalist id="{{ list }}">
            </datalist>
        {% endif %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <small id="{{ field.id_for_label }}_help" class="form-text text-muted">
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if field.help_text %}
                <br/>
            {% endif %}
        </small>
    </div>
{% endmacro %}


{% macro password_input(field, list='', css_classes='') -%}
    <div class="form-group">
        <input type="password"
                {% if css_classes %}
               class="{{ css_classes }}"
                {% else %}
               class="form-control"
                {% endif %}
               placeholder="{{ field.label }}"
                {% if list %}
               list="{{ list }}"
                {% endif %}
               aria-describedby="{{ field.id_for_label }}_help"
               name="{{ field.html_name }}"
               id="{{ field.id_for_label }}"
               {% if field.value() != None %}value="{{ field.value() }}"{% endif %}
               maxlength="{{ field.field.max_length }}"
               {% if field.field.required %}required{% endif %}>
        {% if list %}
            <datalist id="{{ list }}">
            </datalist>
        {% endif %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <small id="{{ field.id_for_label }}_help" class="form-text text-muted">
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </small>
    </div>
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
{% endmacro %}
