{% extends 'base.jinja2' %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 text-center pt-3">
      <h1>Datenpaket {{ batch_id }} erfolgreich abgeschlossen!</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 text-center pt-3">
       <p>Vielen Dank, {{ request.user }}, das ist großartig!</p>
  </div>
</div>

<div class="row justify-content-center">
<div class="col-6">
        <img src="{{ static('images/archer_side.png') }}" alt="Volltreffer!" width="60%" class="rounded mx-auto d-block"/>
</div>
</div>
{% endblock %}
