{% extends 'base.jinja2' %}

{% block body %}
<div class="row justify-content-center">
<div class="col-md-10 col-xl-6"><h1>Annotationsrichtlinien für {{ corpus.title }}</h1></div>
</div>

<div class="row">
<div class="col-md-8 col-xl-5"><h2>Herkunft und Textart</h2>
<p>Nun, es war einmal ...</p>
</div>

<div class="row">
<div class="col-md-8 col-xl-5"><h2>Relationstypen</h2>
{% if relation_types %}
<ul>
{% for relation_type in relation_types %}
<li>{{ relation_type.name }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

{% endblock %}