{% extends 'base.jinja2' %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 text-center pt-3">
    <h1>Annotationsleitfaden für {{ corpus.title }}</h1>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 pt-2">
        <h2>Herkunft und Eigenschaften</h2>
            <p>{{ corpus.description }}</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 pt-2">
        <h2>Betrachtete Arten von Relationen</h2>
        {% if relation_types %}
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Beschreibung</th>
              <th scope="col">Beispielsätze</th>
            </tr>
          </thead>
          <tbody>
              {% for relation_type in relation_types %}
                  <tr>
                    <th scope="row">{{ relation_type.name }}</th>
                    <td>{{ relation_type.description }}</td>
                    <td>
                        <ul>
                        <li>{{ relation_type.example1 }}</li>
                        <li>{{ relation_type.example2 }}</li>
                        <li>{{ relation_type.example3 }}</li>
                        </ul>
                    </td>
                   </tr>
              {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </div>
  </div>
{% endblock %}
