{% extends 'base.jinja2' %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 text-center pt-3">
    <h1>Annotationsleitfaden</h1>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-xl-6 pt-2">
        <h2>Zunächst</h2>
        <p>Nun, es war einmal ... Hier wird es nichts anderes als Text geben, wahrscheinlich. Was für ein Wunder, oder vielleicht auch nicht. Annotieren ist Spaß Hier wird es nichts anderes als Text geben, wahrscheinlich. Was für ein Wunder, oder vielleicht auch nicht. Annotieren ist Spaß..</p>
    </div>
</div>
{% endblock %}
