{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% import 'macros/util_macros.jinja2' as mutils %}

{% block body %}
<h1>Satzansicht</h1>
<p>{{ sentence.text }}</p>

{% if entities %}
<ul>
{% for entity in entities %}
<li>{{ entity }}</li>
{% endfor %}
</ul>
{% endif %}

<div class="row mt-2 justify-content-center">
   {{ mutils.get_label_add_form(formset, csrf_input) }}
</div>
{% endblock %}
