{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}
{% import 'macros/util_macros.jinja2' as mutils %}

{% block body %}
<h1>Satzansicht</h1>
<div class="row">
   <div class="col-10">
      <p>Korpus: {{ sentence.corpus }}</p>
      <p><a href="{{ url('corpus-instructions', args=[sentence.corpus.id]) }}">Link zu Korpus-Richtlinien</a></p>
      </div>
      <div class="col-10">
         <p>Trainingsansicht {{ testrun.id }}</p>
      </div>
         <p>Irgendwas über Trainingsansicht</p>
</div>

<div class="row">
   <div class="col-10">
      <p>{{ sentence.text }}</p>
   </div>
</div>

{% if entities %}
<ul>
   {% for entity in entities %}
   <li>{{ entity }}</li>
   {% endfor %}
</ul>
{% endif %}

<div class="row mt-2 justify-content-center">
   {{ mutils.get_label_add_form(formset, csrf_input) }}
</div>

<div class="row" id="goldlabel-display" style="display:none">
   <div class="col-6">
      {{ goldlabel.goldsubject }}
      {{ goldlabel.goldobject }}
      {{ goldlabel.goldrelation_type }}
   </div>
</div>

<button type="button" onclick="show('goldlabel-display');">Aufdecken</button>

<script type="text/javascript">
function show(elementId) {
  document.getElementById(elementId).style.display="block";
  }
</script>
{% endblock %}
