{% extends 'base.jinja2' %}
{% import 'macros/util_macros.jinja2' as mutils %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 text-center pt-3">
    <h1>Korpus {{ sentence.corpus }}</h1>
    <h2>Trainingsdurchlauf</h2>
  </div>
</div>

<div class="row justify-content-center">
   <div class="col-sm-12 col-md-10">
      <p>Zum <a href="{{ url('corpus-instructions', args=[sentence.corpus.id]) }}">Korpusleitfaden</a></p>
      <p>In diesem Trainingsdurchlauf kannst du das Annotieren von Sätzen aus dem Korpus {{ sentence.corpus }} nach Herzenslust ausprobieren. Schau dir einfach den Beispielsatz unten an und falls du eine oder mehrere Relationen darin findest, dann trage sie unten ein. Danach kannst du dir mit einem Klick auf "Lösung aufdecken" ansehen, welche "Musterlösung" ich mir ausgedacht habe (alle Angaben ohne Gewähr).</p>
   </div>
</div>

<div class="row justify-content-center">
   <div class="col-10 mb-1">
      <div class="card">
      <div class="card-header">
          Beispielsatz {{ iterator }} von {{ testrun_size }}
      </div>
      <div class="card-body">
          <p class="card-text">"{{ sentence.text }}"</p>
       </div>
       <div class="card-footer">
       {% if entities %}
       <p>Entitäten:</p>
       <ul>
          {% for entity in entities %}
          <li>{{ entity }}: {{ entity.type }}</li>
          {% endfor %}
       </ul>
       {% endif %}
       </div>
      </div>
   </div>
</div>

<div class="row justify-content-center">
    <div class="submit-btn-formset col-sm-5 col-md-2 m-2 p-0">
        <input class="btn btn-outline-success btn-block rounded-0" type="submit" value="Lösung aufdecken" onclick="show('goldlabel-display');"/>
    </div>
</div>

<div class="row justify-content-center" id="goldlabel-display" style="display:none">
   <div class="col-12">
      {% if goldlabels %}
    <p>Folgende Relationen sollten eingetragen werden:
       <ul>
          {% for goldlabel in goldlabels %}
          {% if not goldlabel.gold_relation_type %}
          <li>Keine Relation enthalten. Subjekt: ---------, Objekt: ---------, Relation: ---------</li>
          {% else %}
          <li>Entität 1: {{ goldlabel.gold_entity1 }}, Entität 2: {{ goldlabel.gold_entity2 }}, Relationstyp: {{ goldlabel.gold_relation_type }}</li>
          {% endif %}
          {% endfor %}
       </ul>
{% else %}
    <p>Keine Musterlösung eingetragen. Sorry :)!</p>
{% endif %}
   </div>
</div>

{{ mutils.get_label_add_form(formset, csrf_input) }}

<script type="text/javascript">
function show(elementId) {
  document.getElementById(elementId).style.display="grid";
  }
</script>
{% endblock %}
