{% extends 'base.jinja2' %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="row justify-content-center">
<div class="col-md-10 col-xl-6"><h1>{{ message }}</h1></div>
</div>

<div class="row justify-content-center">

<div class="col-6">
<div class="row justify-content start">

{% for corpus in corpora %}
<div class="col-12 col-xl-4">
<h3>Korpus {{ corpus }}</h3>
<ul class="list-group">
{% for batch in batches.filter(corpus=corpus) %}
  <li class="list-group-item"><a href="{{ url('sentence-view', args=[batch.id]) }}">Datenpaket {{ batch.id }}</a></li>
{% endfor %}
</ul>
</div>
{% endfor %}

<div class="col-4">
Profil
</div>

</div>
{% endblock %}
