{% extends 'base.jinja2' %}
{% import 'macros/form_macros.jinja2' as mform %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 pt-3">
    <h1 class="text-center">Passwort zurücksetzen</h1>
    <p>Passwort vergessen? Einfach die E-Mail-Adresse unten eingeben und den Anweisungen zum Zurücksetzen des Passworts in der E-Mail folgen.</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10 col-xl-6 mb-1">
    <form method="post">
      {{ csrf_input }}
      {% for field in form %}
      <p class="mb-3">
      {{ field.label }}: {{ field }}<p>
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      </p>
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
      {% endfor %}
      <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary btn-block col-6 p-2">Speichern</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}