{% extends 'base.jinja2' %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 text-center pt-3">
      <h1>E-Mail zum Passwort zurücksetzen abgesendet</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-xl-6 pt-3">
    <p>Wir haben eine E-Mail zum Zurücksetzen des Passwortes an die angegebene E-Mail-Adresse gesendet, sofern ein entsprechendes Konto existiert. Sie sollte in Kürze ankommen.</p>
    <p>Falls die E-Mail nicht angekommen sein sollte, bitte die E-Mail-Adresse auf Richtigkeit und gegebenenfalls den Spam-Ordner überprüfen.</p>
  </div>
</div>
{% endblock %}